last 2 iOS major versions
ie >= 11
Firefox ESR
last 2 Android major versions
last 2 Safari major versions
last 2 Samsung major versions
last 2 Edge major versions
last 4 Chrome major versions
last 2 ChromeAndroid major versions